.bg-search-button {    
    border-radius:25px;
    color:#ffff;
}
.bg-bluegrey {
    background-color: #338ec9;
}
.text-white {
	color: #ffffff;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;  
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #2196F3;
  color: white;
}
//sidebar ends

.accordion {
    display: block;
    color: #007bff;
    padding: 10px;
    text-decoration: none;
}    

.collapse show li {
    padding : 10px;  
}
.nav {
  display: block;
}
.op-05 {
  opacity: 0.5;
  }
.br-r-1 {
  border-right: 1px solid #d4dce3;
}
.list-style-none {
  list-style: none;
}
.font-color-blue {
  color: #007bff;
}
a:not([href]):not([tabindex]) {
  color: #007bff;
}
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: #007bff; 
}
.color-blue {
  color: #007bff;  
}
.line::before {
  border-bottom: 2px dashed;  
}
.sidebar-menu .level-1,
.sidebar-menu .level-2{
  padding:0 0 0 20px;
  position: relative;
}
.sidebar-menu .level-1:before,
.sidebar-menu .level-2:before{
  width:1px;
  height: calc(100% - 11px);
  border-left: 1px solid #ccc;
  display:block;
  content: ' ';
  position: absolute;
  left:0;
  top:0;
}
.sidebar-menu .level-2 li{
  position: relative;
  padding:0;
  margin-bottom: 12px;
}
.sidebar-menu .level-2 li:before{
  content: ' ';
  display: block;
  width: 15px;
  height:1px;
  border-top: 1px solid #aaa;
  position: absolute;
  top: 50%;
  left: -20px; 
}
.searchBar{
  color: #fff;
  .fa{
    font-size:22px;
  }
  input{
  color:#fff;
  &::placeholder,
  &:focus {
    color:#fff;
  }
  }
  .fa-search {
    opacity: 0.5;
  }
}

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}