

.border-right-r {
	border-bottom: 2px dashed #00a0e3;
	border-bottom-right-radius: 90px;
}

.numbering {
    display: inline-block;
    color: #fffefe;
    border-radius: 50%;
    background-color: #00a0e3;
    font-size: 25px;
    font-weight: 700;
    height: 45px;
    width: 45px;
    vertical-align: middle;
    line-height: 45px;
    text-align: center;
}
.curve-top::after {
    content: " ";
    display: block;
    border-bottom: 2px dashed #00a0e3;
    border-bottom-right-radius: 50px;
    border-right: 2px dashed #00a0e3;
    height: 40px;
    left: 20%;
    width: calc(72% - 20%);
    position: relative;
    transform: translateY(-100%);
}

.curve-bottom::before {
    content: " ";
    display: block;
    border-top: 2px dashed #00a0e3;
    border-top-left-radius: 50px;
    border-left: 2px dashed #00a0e3;
    height: 150px;
    left: 12%;
    width: calc(30% - 20%);
    position: absolute;
    transform: translateY(-55%);
}

.curve-top-l::before {
    content: " ";
    display: block;
    border-bottom: 2px dashed #00a0e3;
    border-bottom-left-radius: 50px;    
    border-left: 2px dashed #00a0e3;
    height: 45px;
    left: 20%;
    width: calc(72% - 20%);
    position: relative;
    transform: translateY(62%);
}


.curve-bottom-l::before {
    content: " ";
    display: block;
    border-top: 2px dashed #00a0e3;
    border-top-right-radius: 50px;
    border-right: 2px dashed #00a0e3;
    height: 133px;
    right: 19%;
    width: calc(30% - 20%);
    position: absolute;
    transform: translateY(-29%);
}

@media screen and(max-width: 768px) {
    .curve-bottom::before {
           /* height: 256px;*/
        }
	.monitoring-img{
		order: 13!important;
	}
}

 .calign {         
         @media screen and(min-width: 768px) {
         text-align: right;
        }
 }

.swap {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.swap-item:nth-of-type(1) { order: 1; }
.swap-item:nth-of-type(2) { order: 4; }
.swap-item:nth-of-type(3) { order: 2; }
.swap-item:nth-of-type(4) { order: 3; }

         @media screen and(min-width: 768px) {
        .swap-item:nth-of-type(1) { order: 4; }
        .swap-item:nth-of-type(2) { order: 1; }
        .swap-item:nth-of-type(3) { order: 2; }
        .swap-item:nth-of-type(4) { order: 3; }
        }


