.banner-1 {
	background: url(/img/Layer_10.png);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 50% 100%;
}

.banner-inner {
	padding-top: 40%;
}

.banner-product-image {
	left: 55%;
	bottom: 15%;
	transform: translateX(-50%);
	max-width: 35%;
	@media screen and (max-width: 500px) {
		left: 75%;
		bottom: 25%;
	}
}

.banner-content {
	top: 50%;
	z-index: 2;
	max-width: 53%;
	h1 {
		font-size: 16px;
		@media screen and (min-width: 786px) {
			font-size: 35px;
		}
	}
	p {
		font-size: 12px;
		@media screen and (min-width: 786px) {
			font-size: 18px;
		}
	}
}

.social-bg {
	background: #e8f0f8;
}

.bg-skyBlue {
	background: #f1f7fe;
}

.border-skyBlue {
	border-color: #00abed;
}

.btn-custom {
	padding: 0.4rem 0.9rem;
	font-size: 0.5rem;
	border-radius: 2.2rem;
	@media screen and (min-width: 992px) {
		padding: 0.60rem 2rem;
		font-size: 0.875rem;
		border-radius: 2.2rem;
	}
}

.btn:hover {
	background-image: linear-gradient(to top, #0072bc 0%, #00a4e7 100%);
	color: white;
}

.owl-content {
	h2 {
		font-size: 20px;
		@media screen and (min-width: 992px) {
			font-size: 32px;
		}
	}
	p {
		font-size: 12px;
		padding-left: 10%;
		@media screen and (min-width: 992px) {
			//font-size: 16px;
			//transform: translateY(50%);
			font-weight: 400;
			line-height: 35px;
			font-size: 18px;
			padding-left: 20%
		}
	}
}

.owl-carousel .owl-item img {
	width: unset;
}

//for paragraphs
.custom-contents {
	p {
		font-size: 12px;
		@media screen and (min-width: 992px) {
			font-size: 17px;
		}
	}
	h2 {
		font-size: 20px;
		@media screen and (min-width: 992px) {
			font-size: 32px;
		}
	}
}

.banner2-content {
	h2 {
		font-size: 20px;
		@media screen and (min-width: 992px) {
			font-size: 32px;
		}
	}
	h4 {
		font-size: 14px;
		@media screen and (min-width: 992px) {
			font-size: 24px;
		}
	}
	p {
		color: #666666;
	}
}

.banner3-content {
	h4 {
		font-size: 14px;
		@media screen and (min-width: 992px) {
			font-size: 22px;
		}
	}
	h4 a {
		color: #05274c;
	}
	img {
		max-width: 12%;
		padding-bottom: 4%;
		@media screen and (min-width: 992px) {
			max-width: 80%;
		}
	}
}

.banner4-content {
	h2 {
		font-size: 20px;
		@media screen and (min-width: 992px) {
			font-size: 32px;
		}
	}
}

.banner5-content {
	h2 {
		font-size: 20px;
		@media screen and (min-width: 992px) {
			font-size: 32px;
		}
	}
}

.mb-80 {
	margin-bottom: 30px;
	@media screen and (min-width: 992px) {
		margin-bottom: 80px;
	}
}

.owl-nav {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
	width: 100%;
	button:focus {
		outline: none;
	}
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
	background-color: #000000;
	background-image: linear-gradient(to right, #00a8ea 0%, #0072bc 100%);
	height: 30px;
	width: 20px;
	line-height: 30px;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	font-weight: bold;
	border-radius: 10px 0;
	@media screen and (min-width: 992px) {
		height: 54px;
		width: 48px;
	}
}

.owl-theme .owl-nav [class*=owl-]:hover {
	background-image: linear-gradient(to right, #00a8ea 0%, #0072bc 100%);
}

//for padding
.pb-8 {
	padding-bottom: 8%;
}

.pb-5 {
	padding-bottom: 5%;
}

ol li {
	list-style-type: none;
}

.mt-80 {
	margin-top: 15px;
	@media screen and (min-width: 992px) {
		margin-top: 80px;
	}
}

.owl-theme .owl-dots .owl-dot span {
	border: 1px solid #5197ef;
	background-color: #f8f9fb;
}

.owl-theme .owl-dots .owl-dot.active span {
	background-color: #0075bf;
}

.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #0075bf;
}

.owl-nav .button:focus {
	outline: 0px;
}

.pr-8 {
	padding-right: 8%;
}

.banner5-border {
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}

// for flex Quick Strat
.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: space-around;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
	font-size: 20px;
	@media screen and (min-width: 992px) {
		font-size:35px;
	}
}

.banner3-button {
	//padding-top:18%;
	@media screen and(min-width: 768px) {
		padding-top:18%;
	}
	@media screen and (min-width: 1200px) {
		padding-top: 7%;
	}
}

.pt-14 {
	@media screen and(min-width: 768px) {
		padding-top:18%;
	}
	@media screen and (min-width: 1200px) {
		padding-top: 14%;
	}
}

@media screen and(max-width: 767px) {
	.max-width-50 {
		max-width: 40%;
		}
}
.hoverclass:hover {
	h4 {
	    color: #008ed4;
    	font-weight: 600;
	}
	
}

.owl-carousel .owl-stage-outer {
	margin-bottom: 40px;
}
 
 .cp-20 {

		 @media screen and(min-width: 768px) {
		 margin: 20px;
		}
 }
 .ctp-20 {
 		margin-top: 20px;
 		 @media screen and(min-width: 768px) {
		 margin-top: 0px;
		}
 }