
.video-button {
	display: -webkit-box;    
    font-size: 16px;
    border-radius: 2.2rem;
    //transform: translateY(-54%);
    //left: 24%;
    //transform: translateX(50%);
    //top: 92%;
    left: 50%;
    bottom: -7%;
    transform: translateX(-50%);
    
    background-image: linear-gradient(-51deg, #0072bc 0%, #00a4e7 100%);
    color: #ffff;
    font-weight: 700;    
    padding: 0.1rem 1rem;
    
    @media screen and(min-width:768px){
		padding: 0.3rem 1rem;
    }

    h6{
    font-size:10px;
	@media screen and (min-width:992px){
			font-size: 16px;
		}
	}
	i{
	padding: 4px;
	border-radius: 15px;
	color:#00a4e7;
	}
}
.QBanner {
	a {
	color:#ffff;
	}
	a:hover {
	text-decoration:none;
	color:#ffff;
	}
}

.play-btn {
    padding: 2px;
    background: #ffff;
    border-radius: 25px;    
    @media screen and (min-width:768px){
			padding: 12px;
		}
}
.pd-4 {
	padding:4px;
}
.translate-30{
transform: translateY(28%)
}

.step {
	width: 50px;
    height: 18px;
    opacity: 0.56;
    color: #333333;
    font-family: Seravek;
    font-size: 20px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: -0.2px;
}
.sbtitle {
	/* Style for "Get the de" */
	width: 170px;
	height: 17px;
	color: #333333;
	font-family: Seravek;
	font-size: 22px;
	//font-weight: 500;
	/* Text style for "Get the de" */
	letter-spacing: -0.4px;
}
a:hover {
	text-decoration:none;
}
.pt-7 {
	padding-top:7%;
}
.sevrak {
    font-family: Seravek;
}
.num {
	//width: 8px;
	//height: 13px;
	//color: #ffffff;
	//font-family: Muli;
	//font-size: 18px;
	//font-weight: 700;
	//padding:15px;
	//background-color:#00a0e3;
	//border-radius:20px;
	
	display: inline-block;
    color: #fffefe;
    border-radius: 50%;
    background-color: #00a0e3;
    font-size: 25px;
    font-weight: 700;
    height: 45px;
    width: 45px;
    vertical-align: middle;
    line-height: 45px;
    text-align: center;
    position: absolute;
    left: 86%;		
}

.border-custom {
	border-right: 2px solid #eeeeee !important;
}
.border-custom :active {
    border-right: 2px solid #00a0e3 !important;
}
