---
title: About
desc: About OpenRAP
---
<!DOCTYPE html>
<html>

<head>
	{% include head.html %}
	<meta name="robots" content="index,follow">
</head>

<body>
	{% include header.html %} 
	
	<!--Banner 1-->

		<div class="position-relative text-center">			
			<img src="/img/Layer_as.png" class="img-fluid col-12 p-0" alt="OpenRAP About">
			<div class="position-absolute text-center Banner1">
				<h2>We believe in the power of <b>Open Source</b> to bring connectivity to everyone.</h2>								
			</div>
		</div>		
		
	<!--/Banner1 -->
	
	<!--Banner2 -->
		<div class="container">
			<div class="text-center pt-40 pb-40 py-xs">			
				<h2 class="pt-40 py-xs">The <b>openRAP</b> Story</h2>
				<div class="row">
					<div class="col-md-6 pt-40 text-left py-xs">
						<p class="pt-40 py-xs">openRAP is an open source platform that was started by in 2014. Lorem ipsum dolorsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>				
					<div class="col-md-6">
						<img src="/img/product-demo.png" class="img-fluid" alt="learning">
					</div>		
				</div>
			</div>
		</div>
	<!--/Banner2-->
				
	<!--Banner3-->			
	<div class="bg-skyBlue">
		<div class="container">
			<div class="row pt-40 pb-40 py-xs">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="pt-40 pb-40">			
						<div class="content-cover text-center">
								<h2>Our Vision</h2>
								<p>openRAP is an open source platform that was started by in 2014. Lorem ipsum dolorsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>	
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>	
	<!--/Banner3-->
	<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	
	{% include footer.html %}

  </body>
</html>
