---
title: About
desc: About OpenRAP
---
<!DOCTYPE html>
<html>

<head>
	{% include head.html %}
	<meta name="robots" content="index,follow">
</head>

<body>
	{% include header.html %} 
	
	<!--Banner 1-->

		<div class="position-relative text-center">			
			<img src="/img/Layer_as.png" class="img-fluid col-12 p-0" alt="OpenRAP About">
			<div class="position-absolute text-center Banner1">
				<h2>Open Source, Open Communication, Open Opportunities</h2>								
			</div>
		</div>		
		
	<!--/Banner1 -->
	
	<!--Banner2 -->
		<div class="container">
			<div class="text-center pt-40 pb-40 py-xs">			
				<h2 class="pt-40 py-xs">The <b>OpenRAP</b> Story</h2>
				<div class="row pt-40">
					<div class="col-md-6 text-left py-xs">
						<p class="py-xs">OpenRAP or Open Offline Resource Access Point is an open source software initiative to develop a modular and scalable localised Content Distribution Network (CDN) platform.</p>
						<h4>What is a CDN platform?</h4>
						<p>A CDN is a large distributed system of servers deployed in multiple data centers across the Internet whose goal is to serve content to end-users with high availability and high performance/Speed.</p>
						<h4>What is a Localised CDN platform?</h4>
						<p>A Localised CDN platform delivers content to a localised community or user group. The content is curated by the local user community.</p>
						<h4>What is an Offline Localised CDN platform?</h4>
						<p>An Offline Localised CDN allows the use of localised CDNs without the need of the Internet. The Open Offline Localised CDN software is hardware agnostic. The open source software community can use, validate and contribute to project.</p>
						<h4>Why is an Offline CDN required?</h4>
						<ul>
							<li>Disconnected geographies do not have connectivity</li>
							<li>In many locales, the Internet speed does not support streaming or downloading high quality video content</li>
							<li>Internet connectivity is not affordable to most people</li>
							<li>It is a waste of time and resources to download the same content each time from the Internet, if it is to be consumed by multiple users, at the same or different times. Caching such content is a much more effective solution </li>
						</ul>
						<h4>What is our OpenRAP Solution?</h4>
						<p>Our OpenRAP solution includes a small, lightweight, plug-n-play device that creates its own wireless network. The software is open source and hence open to the community to extend. The solution is low cost, easy to install and maintain. It offers the flexibility to view and distribute self-created content and/or curated content from the web. It allows you to collect end user data through surveys, forms, attendance, usage, profiles, etc. You can also administer assessments and quizzes.</p>
					</div>				
					<div class="col-md-6">
						<img src="/img/OpenRAP-story.png" class="img-fluid" alt="OpenRAP Story">
					</div>		
				</div>
			</div>
		</div>
	<!--/Banner2-->
				
	<!--Banner3-->			
	<div class="bg-skyBlue">
		<div class="container">
			<div class="row pt-40 pb-40 py-xs">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="pt-40 pb-40">			
						<div class="content-cover text-center">
								<h2>Our Vision</h2>
								<p>Enable, Enhance, Empower students and teachers through experiential learning </p>	
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>	
	<!--/Banner3-->
	
	{% include footer.html %}

  </body>
</html>
