---
title: Documentation
desc: Sunbird is an open source, configurable, extendable, modular learning management platform architected for scale and designed to support multiple teaching and learning solutions supporting multiple languages and available for online and offline use.
---
<!DOCTYPE html>
<html>

<head>
	{% include head.html %}
	<meta name="robots" content="index,follow">
</head>

<body>
	  {% include header.html %}
    <div>

	<!--Banner-->
			
			<div class="position-relative text-center">			
				<img src="/img/Layer_as.png" class="img-fluid" alt="OpenRAP QuickStart">
				<div class="position-absolute text-center Banner1">
					<h2>openRAP Documentation</h1>
					<p>Getting started isFind any help and support that you might need within our documentation. easy. We’ve got you covered.</p>
				</div>
				<div class="QBanner">
					<a class="position-absolute search-btn">
						<div class="play-btn bs-btn"><i class='fa fa-search pr-10'></i><input type="text" name="" class="border-0"></div>
					</a>
				</div>
					
				
			</div>						
	<!--/Banner-->		
	
	
	<!--Banner2-->		
			<div class="container">			
				<div class="pt-40 pb-40">			
<!--
					<h2 class="pt-40">The <b>openRAP</b> Story</h2>
-->
					<div class="row pt-7">
						<div class="col-md-6 border-right">
							<div class="row">
								<div class="p-20">
									<div class="p-20 text-left border border-info br-10 bs-c">
											<div class="d-web-box pb-15"><i class="fa fa-folder-open-o fa-folder"></i><h4 class="m-0">You are Facilitator</h4></div>
											<p>Lorem ipsum dolor sit amet, epicuri scriptorem eu qui. Ex has meis blandit percipitur.</p>
											<a class="btn-sm btn border-skyBlue txt-upper btn-custom" href="#">LEARN MORE</a>
									</div>
								</div>	
							</div>
							<div class="row">
								<div class="p-10 text-right">								
									<div class="p-10 border d-web-box br-5">									
										<i class="fa fa-cog fa-custom mr-10"></i><span class="glyphicon glyphicon-chevron-right"></span><p class="m-0">Installation</p>
									</div>
								</div>
							</div>					
							<div class="row">
								<div class="p-10">
									<div class="p-10 text-left border d-web-box">									
										<i class="fa fa-cog fa-custom mr-10"></i><p class="m-0">Maintenance & Operations</p>								
									</div>
								</div>	
							</div>
							<div class="row">
								<div class="p-10">								
									<div class="p-10 text-left border d-web-box">									
										<i class="fa fa-cog fa-custom mr-10"></i><p class="m-0">Customizing openRAP</p>								
									</div>
								</div>								
							</div>					
							<div class="row">
								<div class="p-10">
									<div class="p-10 text-left border d-web-box">									
										<i class="fa fa-cog fa-custom mr-10"></i><p class="m-0">Consuming openRAP Content</p>								
									</div>								
								</div>	
							</div>
							<div class="row">
								<div class="p-10">
									<div class="p-10 text-left border d-web-box">									
										<i class="fa fa-cog fa-custom mr-10"></i><p class="m-0">Telemetry</p>								
									</div>								
								</div>	
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="p-20">
									<div class="p-20 text-left border br-10 bs-c">
											<div class="d-web-box pb-15"><i class="fa fa-folder-open-o fa-folder"></i><h4 class="m-0">You are Developer</h4></div>
											<p>Lorem ipsum dolor sit amet, epicuri scriptorem eu qui. Ex has meis blandit percipitur.</p>
											<a class="btn-sm btn border-skyBlue txt-upper btn-custom" href="#">LEARN MORE</a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="p-10">								
									<div class="p-10 text-left border d-web-box br-5">									
										<i class="fa fa-cog fa-custom mr-10"></i><p class="m-0">Building Plugins & Extensions</p>								
									</div>								
								</div>	
							</div>					
							<div class="row">								
								<div class="p-10">
									<div class="p-10 text-left border d-web-box br-5">									
										<i class="fa fa-cog fa-custom mr-10"></i><p class="m-0">Contributing to OpenRAP Development</p>								
									</div>								
								</div>	
							</div>
						</div>					
					</div>					
				</div>			
			</div>
			
	<!--/Banner2-->				
				
	</div>

	{% include footer.html %}

  </body>
</html>
