---
title: Documentation
desc: Sunbird is an open source, configurable, extendable, modular learning management platform architected for scale and designed to support multiple teaching and learning solutions supporting multiple languages and available for online and offline use.
---
<!DOCTYPE html>
<html>

<head>
	{% include head.html %}
	<meta name="robots" content="index,follow">
</head>

<body>
	  {% include header.html %}
    <div>

	<!--Banner-->
<!--
			<div class="container-fluid">
				<div class="row">					
					<div class="position-relative col-xs-12">
						<img src="/img/Layer_qs.png" class="img-fluid" alt="xyz">
						<div class="position-absolute">
							<h2>Let’s get you started.</h2>
						</div>
					</div>
				</div>	
			</div>	
-->
			
			<div class="position-relative text-center">			
				<img src="/img/Layer_as.png" class="img-fluid" alt="OpenRAP QuickStart">
				<div class="position-absolute text-center Banner1">
					<h2>Let’s get you started.</h1>
					<p>Getting started is easy. We’ve got you covered.</p>
				</div>
				<div class="QBanner">
					<a href="#" class="position-absolute video-button">
						<div class="play-btn"><i class='fa fa-search'></i></div>						
					</a>
				</div>
					
				
			</div>						
	<!--/Banner-->		
	
	
	<!--Banner2-->		
			<div class="container">			
				<div class="text-center pt-40 pb-40">			
<!--
					<h2 class="pt-40">The <b>openRAP</b> Story</h2>
-->
					<div class="row pt-7">
						<div class="col-md-2 scrollspy">
<!--
							<ul id="nav" class="nav hidden-xs hidden-sm" data-spy="affix">
								<li><a href="#web-design">Web Design</a></li>
								<li><a href="#web-development">Web Development</a></li>
								<li><a href="#marketing">Marketing</a></li>
							</ul>
-->
						</div>
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-4 pt-40 text-left">
										<p class="step mb-30">Step 1</p>
										<h4 class="font-bold sbtitle">Get the Device</h4>
										<p>You’ll need the openRAP device to get started. Reach out to us by email or call.</p>
										<a href="#">Know More ></a>
								</div>				
								<div class="col-md-8"><img src="/img/product-demo.png" class="img-fluid" alt="learning"></div>
							</div>
							<div class="row">								
								<div class="col-md-4 pt-40 text-left">
									<p class="step mb-30">Step 2</p>
									<h4 class="font-bold sbtitle">Set it up</h4>
									<p>You’ll have to configure the device to be able to use it with your application.</p>
								<a href="#">Know More ></a>
								</div>				
								<div class="col-md-8"><img src="/img/img-placeholder.png" class="img-fluid" alt="learning"></div>					
							</div>					
							<div class="row">								
								<div class="col-md-4 pt-40 text-left">
									<p class="step mb-30">Step 3</p>
									<h4 class="font-bold sbtitle">And you're done!</h4>
									<p>You can now manage content and monitor the network usage via the Admin Dashboard.</p>
								<a href="#">Know More ></a>
								</div>				
								<div class="col-md-8"><img src="/img/image-place-holder.png" class="img-fluid" alt="learning"></div>					
							</div>
						</div>				
					
					</div>					
				</div>			
			</div>
			
	<!--/Banner2-->				
				
	</div>

	{% include footer.html %}

  </body>
</html>
