---
title: feature openRAP
desc: features openRAP
---
<!DOCTYPE html>
<html>
	<head>
	{% include head.html %}
	<meta name="robots" content="index,follow">
	</head>
  <body>
	  {% include header.html %}
    <div>
<!--
		<div class="container-fluid">
			<div class="row">					
				<div class="col-xs-12">
					<img src="/img/Layer_as.png" class="img-fluid" alt="xyz">
				</div>
		</div>						
-->
<!--banner-->
		<div class="position-relative text-center">			
				<img src="/img/Layer_as.png" class="img-fluid" alt="OpenRAP QuickStart">
				<div class="position-absolute text-center Banner1">
					<h2>What openRAP Offers You</h2>
					<p>We believe in lorem ipsum dolor sit amet, epicuri scriptorem
euqui. Ex has meis blandit percipitur.</p>
				</div>
		</div>	
<!--/banner-->		
			</div>
			<div class="container text-center pt-40 pb-40">								
					<div class="row pt-40">
						<div class="col-md-2 pt-40 text-right"><div class="numbering">1</div></div>
						<div class="col-md-4 pt-40 text-left">							
							<h4><b>Offline Usage</b></h4>
								<p>Lorem ipsum dolor sit amet, epicuri scriptorem eu qui. Ex has meis blandit percipitur. Numquam moderatius ne eum, duo dicat omittanturLorem ipsum dolor sit amet, epicuri scriptorem eu qui. Ex has meis blandit percipitur. </p>
						</div>
						<div class="col-md-6"><img src="/img/place-holder.png" class="img-fluid" alt="learning"></div>
						<div class="col-12 curve-top">&nbsp;</div>					
					</div>
								
					
				
					<div class="row pt-40 ">
						<div class="col-12 curve-bottom text-left"> &nbsp;</div>
						<div class="col-md-6"><img src="/img/Place_holder_2.png" class="img-fluid" alt="learning"></div>					
						<div class="col-md-2 pt-40 text-right"><div class="numbering">2</div></div>
						<div class="col-md-4 pt-40 text-left">
							<h4><b>Monitoring</b></h4>
								<p>Lorem ipsum dolor sit amet, epicuri scriptorem eu qui. Ex has meis blandit percipitur. Numquam moderatius ne eum, duo dicat omittanturLorem ipsum dolor sit amet, epicuri scriptorem eu qui. Ex has meis blandit percipitur. </p>
						</div>
						
					
						<div class="col-12 curve-top-l text-left"> &nbsp;</div>	
					</div>				
					<div class="row pt-40">
						<div class="col-12 curve-bottom-l text-right"> &nbsp;</div>
						<div class="col-md-2 pt-40 text-right"><div class="numbering">3</div></div>
						<div class="col-md-4 pt-40 text-left">
							<h4><b>Maintaince</b></h4>
								<p>openRAP is an open source platform that was started by in 2014. Lorem ipsum dolorsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						<div class="col-md-6"><img src="/img/place-holder.png" class="img-fluid" alt="learning"></div>					
					</div>						
			</div>
	</div>

	{% include footer.html %}

  </body>
</html>
