---
title: Feature openRAP
desc: features openRAP
---
<!DOCTYPE html>
<html>
	<head>
	{% include head.html %}
	<meta name="robots" content="index,follow">
	</head>
  <body>
	  {% include header.html %}
    <div>
<!--banner-->
		<div class="position-relative text-center">			
				<img src="/assets/images/Layer_as.png" class="img-fluid col-12 p-0" alt="OpenRAP QuickStart">
				<div class="position-absolute text-center banner1">
					<h2>What <b>OpenRAP</b> Offers You</h2>
					<p></p>
				</div>
		</div>	
<!--/banner-->		
	</div>
			<div class="container text-center pt-40 pb-40 py-xs">								
					<div class="row pt-40 py-xs">
						<div class="col-md-2 pt-40 py-xs calign"><div class="numbering">1</div></div>
						<div class="col-md-4 pt-40 text-left">							
							<h4><b>Local</b></h4>
								<p>The device is placed in a local environment (classroom or village square) with locally curated, pre-filled content. This provides a great deal of control to local authorities on the type of content available to and viewed by students and teachers. It also allows content to be regularly updated.</p>
						</div>
						<div class="col-md-6 mb-20"><img src="/assets/images/offline-usage.png" class="img-fluid" alt="Local"></div>
						<div class="col-12 curve-top d-none d-md-block">&nbsp;</div>					
					</div>
						
					<div class="row pt-40">
						<div class="col-12 curve-bottom text-left d-none d-md-block"> &nbsp;</div>
						<div class="col-md-6 pt-40 align-self-end text-md-left monitoring-img"><img src="/assets/images/monitoring.png" class="img-fluid" alt="Offline"></div>				
						<div class="col-md-2 pt-40 calign"><div class="numbering">2</div></div>
						<div class="col-md-4 pt-40 text-left">
							<h4><b>Offline</b></h4>
								<p>All content is available on the local device. This allows users to easily access and download content without dependence on Internet connectivity.</p>
						</div>											
						<div class="col-12 curve-top-l text-left d-none d-md-block"> &nbsp;</div>	
					</div>				

					<div class="row pt-40">
						<div class="col-12 curve-bottom-l text-right d-none d-md-block"> &nbsp;</div>
						<div class="col-md-2 pt-40 calign"><div class="numbering">3</div></div>
						<div class="col-md-4 pt-40 text-left">
							<h4><b>Monitoring & Maintenance</b></h4>
							<p>The OpenRAP solution has in-built monitoring capabilties. It offers administrators dashboards to monitor usage and performance. This allows for easy and in-time device maintenance.</p>
							<p>It is also extremely easy to upload content on the device. This allows content to be regularly updated.</p>  
							<p>	Getting end-user usage reports is also fairly simple as user data is captured annonymously but automatically.</p>
						</div>
						<div class="col-md-6"><img src="/assets/images/maintaince.png" class="img-fluid" alt="Monitoring & Maintenance"></div>					
					</div>
			</div>
	{% include footer.html %}

  </body>
</html>
