---
title: QuickStart
desc: openRAP QuickStart
---
<!DOCTYPE html>
<html>

<head>
	{% include head.html %}
	<meta name="robots" content="index,follow">
</head>

<body>
	  {% include header.html %}
    <div>

	<!--Banner-->			
			<div class="position-relative text-center">			
				<img src="/img/Layer_as.png" class="img-fluid col-12 p-0" alt="OpenRAP QuickStart">
				<div class="position-absolute text-center BannerQ">
					<h2>Let’s get you started.</h1>
					<p>Getting started is easy. We’ve got you covered.</p>
				</div>
				<div class="QBanner">
					<a href="#" class="position-absolute video-button align-items-center d-flex">
						<div class="play-btn"><i class='fa fa-play'></i></div>
						<div class=""><h6 class="m-0 pl-pr-9">Here’s a video tutorial</h6></div>
					</a>
				</div>				
			</div>						
	<!--/Banner-->		
	
	
	<!--Banner2-->		
		<div class="container">				

			<div class="row text-center pt-40 pb-40">
				<div class="col-md-1 border-custom">
					<div id="list-example" class="list-group">
					  <a class="list-group-item list-group-item-action" href="#list-item-1"> 1</a>
					  <a class="list-group-item list-group-item-action" href="#list-item-2"> 2</a>
					  <a class="list-group-item list-group-item-action" href="#list-item-3"> 3</a>					  
					</div>

				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-10" data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
					
						<div class="row" id="list-item-1">
							<div class="col-md-5  pt-40 text-left">
								<p class="step mb-30">Step 1</p>
								<h4 class="font-bold sbtitle">Get the Device</h4>
								<p>You’ll need the openRAP device to get started. Reach out to us by email or call.</p>
								<a href="#">Know More ></a>
							</div>
							<div class="col-md-5"><img src="/img/product-demo.png" class="img-fluid" alt="learning"></div>
						</div>
						<div class="row" id="list-item-2">
							<div class="col-md-5 pt-40 text-left">
								<p class="step mb-30">Step 2</p>
								<h4 class="font-bold sbtitle">Set it up</h4>
								<p>You’ll have to configure the device to be able to use it with your application.</p>
								<a href="#">Know More ></a>
							</div>
							<div class="col-md-5"><img src="/img/img-placeholder.png" class="img-fluid" alt="learning"></div>
						</div>
						<div class="row" id="list-item-3">
							<div class="col-md-5 pt-40 text-left">
								<p class="step mb-30">Step 3</p>
								<h4 class="font-bold sbtitle">And you're done!</h4>
								<p>You can now manage content and monitor the network usage via the Admin Dashboard.</p>
								<a href="#">Know More ></a>
							</div>
							<div class="col-md-5"><img src="/img/image-place-holder.png" class="img-fluid" alt="learning"></div>
						</div>
				</div>		
			</div>	
		</div>
			
	<!--/Banner2-->				
				
	</div>

	{% include footer.html %}

  </body>
</html>
