---
title: QuickStart
desc: openRAP QuickStart
---
<!DOCTYPE html>
<html>

<head>
	{% include head.html %}
	<meta name="robots" content="index,follow">
</head>

<body data-spy="scroll" data-target="#myScrollspy">
	  {% include header.html %}
    <div>

	<!--Banner-->			
	<div class="position-relative text-center">			
		<img src="/img/Layer_as.png" class="img-fluid col-12 p-0" alt="OpenRAP QuickStart" />
		<div class="position-absolute text-center BannerQ">
			<h2>Let’s get you started.</h2>
			<p>Getting started is easy. We’ve got you covered.</p>
		</div>
		<div class="QBanner">
			<a href="#" class="position-absolute video-button align-items-center d-flex">
				<div class="play-btn"><i class='fa fa-play'></i></div>
				<div class=""><h6 class="m-0 pl-pr-9">Here’s a video tutorial</h6></div>
			</a>
		</div>				
	</div>						
	<!--/Banner-->		
	
	<!-- timeline Section -->
	<div class="container timeline mt-30 mb-30">
	  <div class="row">
	    <nav class="col-sm-1 col-2 pl-30" id="myScrollspy">
	      <ul class="nav nav-pills flex-column">
	        <li class="nav-item">
	          <a class="nav-link active" href="#section1"><div class="timeline-badge text-center font-bold"> 1 </div></a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#section2"><div class="timeline-badge text-center font-bold"> 2 </div></a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#section3"><div class="timeline-badge text-center font-bold"> 3 </div></a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#section4"><div class="timeline-badge text-center font-bold"> 4 </div></a>
	        </li>
	      </ul>
	    </nav>
	    <div class="col-sm-11 col-10">
	      <div id="section1" class="timeline-section">    
	        <div class="content">
					<div class="row pt-40 ">
						<div class="col-md-4 text-left">
							<p class="step mb-20">Step 1</p>
							<h4 class="font-bold">Get the Device</h4>
							<p>You’ll need the openRAP device to get started. Reach out to us by email or call.</p>
							<a class="know-more" href="#">Know More ></a>
						</div>
						<div class="col-md-8 text-center">
							<img src="/img/get-the-device.png" class="img-fluid" alt="Get the Device">
						</div>
					</div>
				</div>
	      </div>
	      <div id="section2" class="timeline-section"> 
	        <div class="content">
					<div class="row pt-40">
						<div class="col-md-4 text-left">
							<p class="step mb-20">Step 2</p>
							<h4 class="font-bold">Set it up</h4>
							<p>You’ll have to configure the device to be able to use it with your application.</p>
							<a class="know-more" href="#">Know More ></a>
						</div>
						<div class="col-md-8 text-center"><img src="/img/set-it-up.png" class="img-fluid" alt="Set it up"></div>
					</div>
				</div>
	      </div>        
	      <div id="section3" class="timeline-section">         
	        <div class="content">
					<div class="row pt-40">
						<div class="col-md-4 text-left">
							<p class="step mb-20">Step 3</p>
							<h4 class="font-bold">And you're done!</h4>
							<p>You can now manage content and monitor the network usage via the Admin Dashboard.</p>
							<a  class="know-more" href="#">Know More ></a>
						</div>
						<div class="col-md-8 text-center"><img src="/img/and-your-done.png" class="img-fluid" alt="And you're done"></div>
					</div>
				</div>
	      </div>
	      <div id="section4" class="section">         
	        <div class="content">
					<div class="row pt-40">
						<div class="col-md-4 text-left">
							<p class="step mb-20">Step 4</p>
							<h4 class="font-bold">Get the Device</h4>
							<p>You’ll need the openRAP device to get started. Reach out to us by email or call.</p>
							<a class="know-more" href="#">Know More ></a>
						</div>
						<div class="col-md-8 text-center">
							<img src="/img/get-the-device.png" class="img-fluid" alt="Get the Device">
						</div>
					</div>
				</div>
	      </div>      
	    </div>
	  </div>
	</div>
	<!-- /timeline Section -->
				
	</div>

	{% include footer.html %}

  </body>
</html>
