<!-- owl-carousel -->
		<div class="pt-30 text-center bg-skyBlue mb-80 owl-content owl-theme">
				<div class="container-fluid">
					<div class="owl-carousel owl-theme pb-5">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<h2 class="pt-30 pb-30 mb-20">The <b>openRAP</b> Ecosystem</h2>
								</div>
								<div class="col-12 col-sm-6 text-left">
									<p>This Actor would be essentially a consumer of Data, either educational, entertainment or any other category. The consumption of Data can happen over a Handheld device (Phone/Tablet) or through Desktop using browsers.</p>
									<p>The Work of this actor is to Educate end-users about the availability of openRAP devices and things like how to start and use openRAP and other logistic details. Teacher/Volunteer may also sometimes refresh the content of openRAP.</p>
								</div>
								<div class="col-12 col-sm-6 pr-8">
									<img src="/img/Illustration-demmo.png" class="img-fluid " alt="learning">
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row">
								<div class="col-12">
									<h2 class="pt-30 pb-30 mb-20">The <b>openRAP</b> Ecosystem</h2>
								</div>
								<div class="col-12 col-sm-6 text-left">
									<p>This Actor would be essentially a consumer of Data, either educational, entertainment or any other category. The consumption of Data can happen over a Handheld device (Phone/Tablet) or through Desktop using browsers.</p>
									<p>The Work of this actor is to Educate end-users about the availability of openRAP devices and things like how to start and use openRAP and other logistic details. Teacher/Volunteer may also sometimes refresh the content of openRAP.</p>
								</div>
								<div class="col-12 col-sm-6 pr-8">
									<img src="/img/Illustration-demmo.png" class="img-fluid " alt="learning">
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row">
								<div class="col-12">
									<h2 class="pt-30 pb-30 mb-20">The <b>openRAP</b> Ecosystem</h2>
								</div>
								<div class="col-12 col-sm-6 text-left">
									<p>This Actor would be essentially a consumer of Data, either educational, entertainment or any other category. The consumption of Data can happen over a Handheld device (Phone/Tablet) or through Desktop using browsers.</p>
									<p>The Work of this actor is to Educate end-users about the availability of openRAP devices and things like how to start and use openRAP and other logistic details. Teacher/Volunteer may also sometimes refresh the content of openRAP.</p>
								</div>
								<div class="col-12 col-sm-6 pr-8">
									<img src="/img/Illustration-demmo.png" class="img-fluid " alt="learning">
								</div>
							</div>
						</div>
					</div>
				</div>	
		</div>	
		<!-- /owl-carousel -->