<footer class="footer">
	<div class="pt-40 background-default bg-skyBlue bsf-t">		
		<div class="container">
			<div class="position-absolute transform-y-130">
				<a href="index.html">
				<img src="/img/Logo_png.png" class="img-fluid w-53" alt="learning">
				</a>
			</div>
			<div class="row pb-20">				
				<div class="col-md-4 col-sm-12 border-right">
					<p>OpenRAP is an open source software initiative to develop a modular & scalable localised CDN platform.</p>
				</div>			
				<div class="col-md-2 col-sm-6 ">
					<ol>
						<li><a href="/about/">About openRAP</a></li>
						<li><a href="#">Case Studies</a></li>
						<li><a href="#">Partners</a></li>
					</ol>					
				</div>			
				<div class="col-md-2 col-sm-6 sideline m-0">
					<ol>
<!--
						<li><a href="#" target="_blank">Resources</a></li>
-->
						<li><a href="#">Resources</a></li>
						<li><a href="#">FAQs Privacy</a></li>						
						<li><a href="#">Policy</a></li>
						<li><a href="#">Terms of Use</a></li>
					</ol>					
				</div>
				<div class="col-md-4 col-sm-12">
					<ol>
						<li><a href="#">Contact Us</a></li>
						<li>Email - <a href="mailto:info@openrap.com">info@openrap.com</a></li>
						<li>Mobile Number +91 93123111111</li>						
					</ol>				
				</div>			
			</div>
			<div class="row bs-t">
				<div class="col-md-6 col-4 footer-c ptb-8">
					&copy; {{ site.time | | date: '%Y'}} OpenRAP All rights reserved.
				</div>
				<div class="col-md-6 col-8 text-right ptb-8">
					<ol class="m-0">
						<a href="https://www.facebook.com/" target="_blank"><li class="bg-fb ml-10"><i class='fa fa-facebook'></i></li></a>
						<a href="https://twitter.com/" target="_blank"><li class="bg-tw ml-10"><i class='fa fa-twitter'></i></li></a>
						<a href="https://in.linkedin.com/" target="_blank"><li class="bg-li ml-10"><i class='fa fa-linkedin'></i></li></a>
						<a href="https://github.com/" target="_blank"><li class="bg-inverse ml-10"><i class='fa fa-github-square'></i></li></a>						
					</ol>
				</div>
			</div>			
		</div>
	</div>	
</footer>
 
