<title>{{page.title}}</title>
<meta name="description" content="{{page.desc}}"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">

<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="last-modified" content="{{ site.time }}">
<meta http-equiv="Expires" content="600" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/scss/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" href="/assets/scss/owlcarousel/owl.theme.default.min.css">
<link rel="stylesheet" href="/assets/scss/style.css?{{ site.time | | date: '%d%m%Y'}}"  />
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/lunr.min.js"></script>
<script src="/assets/js/search.js"></script>

