<title>{{page.title}}</title>
<meta name="description" content="{{page.desc}}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />

<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="last-modified" content="{{ site.time }}" />
<meta http-equiv="Expires" content="600" />

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Muli:200,300,400,400i,600,700,800"
/>
<link
  rel="stylesheet"
  href="/assets/dist/css/style.css?version={{ site.time | | date: '%d%m%Y'}}"
/>
<script
  type="text/javascript"
  src="/assets/dist/js/script-min.js?version={{ site.time | | date: '%d%m%Y'}}"
></script>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
/>
