{% assign docspages = site.pages | where: 'layout','docs-detail'  %}
{% assign sidebarCategories = docspages  | sort: 'CategoryOrder' |  group_by: "categories" %}
{% assign pageCategory = page.url  %}
<nav>
	<ul class="nav d-block sidebar-menu">
		{% for sidebarCategory in sidebarCategories %}
		{% assign categoryname = sidebarCategory.name | replace: "[", "" | replace: "]", "" | replace: '"', '' %}
		{% if categoryname !="" %}
		<li class="panel-title">
			{% if page.categories[0] == categoryname %}
			<a href="#" id="btn-{{ forloop.index }}" data-toggle="collapse" data-target="#submenu{{ forloop.index }}" aria-expanded="true" class="p-10 accordion bg-skyBlue">{{ categoryname }}</a>
			{% else %}
			<a href="#" id="btn-{{ forloop.index }}" data-toggle="collapse" data-target="#submenu{{ forloop.index }}" aria-expanded="false"  class="p-10 accordion bg-skyBlue collapsed">{{ categoryname }}</a>
			{% endif %}
			
			{% assign sidebarSubCategories = sidebarCategory.items  | sort: 'SubCategoryOrder' | group_by: "SubCategories" %}
			
			{% if page.categories[0] == categoryname %}
			<ul  id="submenu{{ forloop.index }}" role="menu" aria-labelledby="btn-{{ forloop.index }}" class="nav collapse pl-30 level-1 mb-15 show">
			{% else %}
			<ul  id="submenu{{ forloop.index }}" role="menu" aria-labelledby="btn-{{ forloop.index }}" class="nav collapse pl-30 level-1 mb-15">
			{% endif %}
				{% for sidebarSubCategory in sidebarSubCategories %}
				<li>
					{% assign sidebarSubCategoriesPages = sidebarSubCategory.items  | where: 'showSidebar','true' |  sort: "PageOrdering" %}
					<a href="#">{{sidebarSubCategory.name | replace: "[", "" | replace: "]", "" | replace: '"', ''  }}</a>
					<ul class="list-style-none level-2">
						{% for sidebarSubCategoriesPage in sidebarSubCategoriesPages %}
						<li>
							<a href="{{sidebarSubCategoriesPage.url}}">{{sidebarSubCategoriesPage.title}}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</nav>

